{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "/Kernel\\.php/"
        ]
    },
    "logs": {
        "text": "var\/log\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
